<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora - Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora</h1>

    <% for (let post of posts) { %>
        <div class="box">
            <h3 id="user">@<%= post.username %></h3>
            <h4 id="content"><%= post.content %></h4>
            <a href="/post/<%= post.id %>">See post in detail</a> |
            <a href="/post/<%= post.id %>/edit">Edit</a>
            <form method="POST" action="/post/<%= post.id %>?_method=DELETE" style="display:inline;">
                <button type="submit">Delete Post</button>
            </form>
        </div>
    <% } %>

    <br><br>
    <a href="/post/new">Create new Post</a>
</body>
</html>
